<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet3</servlet-name>
        <servlet-class>Servlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet4</servlet-name>
        <servlet-class>Servlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet5</servlet-name>
        <servlet-class>Servlet5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet6</servlet-name>
        <servlet-class>Servlet6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet7</servlet-name>
        <servlet-class>Servlet7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet8</servlet-name>
        <servlet-class>Servlet8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet9</servlet-name>
        <servlet-class>Servlet9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet10</servlet-name>
        <servlet-class>Servlet10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet11</servlet-name>
        <servlet-class>Servlet11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet12</servlet-name>
        <servlet-class>Servlet12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet13</servlet-name>
        <servlet-class>Servlet13</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet14</servlet-name>
        <servlet-class>Servlet14</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet15</servlet-name>
        <servlet-class>Servlet15</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet16</servlet-name>
        <servlet-class>Servlet16</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet17</servlet-name>
        <servlet-class>Servlet17</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet18</servlet-name>
        <servlet-class>Servlet18</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet19</servlet-name>
        <servlet-class>Servlet19</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet20</servlet-name>
        <servlet-class>Servlet20</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet21</servlet-name>
        <servlet-class>Servlet21</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet22</servlet-name>
        <servlet-class>Servlet22</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet23</servlet-name>
        <servlet-class>Servlet23</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet24</servlet-name>
        <servlet-class>Servlet24</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet25</servlet-name>
        <servlet-class>Servlet25</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet26</servlet-name>
        <servlet-class>Servlet26</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet27</servlet-name>
        <servlet-class>Servlet27</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet28</servlet-name>
        <servlet-class>Servlet28</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet29</servlet-name>
        <servlet-class>Servlet29</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonServlet1</servlet-name>
        <servlet-class>JsonServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonServlet40</servlet-name>
        <servlet-class>JsonServlet40</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jsonservlet12</servlet-name>
        <servlet-class>Jsonservlet12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet30</servlet-name>
        <servlet-class>Servlet30</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>highlevel1</servlet-name>
        <servlet-class>highlevel1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet3</servlet-name>
        <url-pattern>/Servlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet4</servlet-name>
        <url-pattern>/Servlet4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet5</servlet-name>
        <url-pattern>/Servlet5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet6</servlet-name>
        <url-pattern>/Servlet6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet7</servlet-name>
        <url-pattern>/Servlet7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet8</servlet-name>
        <url-pattern>/Servlet8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet9</servlet-name>
        <url-pattern>/Servlet9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet10</servlet-name>
        <url-pattern>/Servlet10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet11</servlet-name>
        <url-pattern>/Servlet11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet12</servlet-name>
        <url-pattern>/Servlet12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet13</servlet-name>
        <url-pattern>/Servlet13</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet14</servlet-name>
        <url-pattern>/Servlet14</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet15</servlet-name>
        <url-pattern>/Servlet15</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet16</servlet-name>
        <url-pattern>/Servlet16</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet17</servlet-name>
        <url-pattern>/Servlet17</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet18</servlet-name>
        <url-pattern>/Servlet18</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet19</servlet-name>
        <url-pattern>/Servlet19</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet20</servlet-name>
        <url-pattern>/Servlet20</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet21</servlet-name>
        <url-pattern>/Servlet21</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet22</servlet-name>
        <url-pattern>/Servlet22</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet23</servlet-name>
        <url-pattern>/Servlet23</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet24</servlet-name>
        <url-pattern>/Servlet24</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet25</servlet-name>
        <url-pattern>/Servlet25</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet26</servlet-name>
        <url-pattern>/Servlet26</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet27</servlet-name>
        <url-pattern>/Servlet27</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet28</servlet-name>
        <url-pattern>/Servlet28</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet29</servlet-name>
        <url-pattern>/Servlet29</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonServlet1</servlet-name>
        <url-pattern>/JsonServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonServlet40</servlet-name>
        <url-pattern>/JsonServlet40</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jsonservlet12</servlet-name>
        <url-pattern>/Jsonservlet12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet30</servlet-name>
        <url-pattern>/Servlet30</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>highlevel1</servlet-name>
        <url-pattern>/highlevel1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
